
<div class="container form-add-tea">
  <form class="newPost form-group">
    <div class="mb-3">
      <p class="headerInTheme" > Форма добавления чая </p>
      <label for="disabledSelect" class="form-label">Название чая</label>
      <input type="text" id="disabledTextInput" class="form-control"name="name" >
    </div>
      <div class="mb-3">
        <label for="disabledSelect" class="form-label">Сорт чая</label>
        <input type="text" id="disabledTextInput" class="form-control" name="type" >
      </div>
    <div class="mb-3">
      <label for="disabledSelect" class="form-label">Место культивации</label>
      <input type="text" id="disabledTextInput" class="form-control" name="country" >
    </div>
    <div class="mb-3">
      <label for="disabledSelect" class="form-label">Описание</label>
      <input type="text" id="disabledTextInput" class="form-control" name="description" >
    </div>
      <div class="mb-3">
        <label for="disabledSelect" class="form-label">Картинка</label>
        <input type="text" id="disabledTextInput" class="form-control" name="link" >
    </div>
    <button type="submit" class="btn btn-primary sign-form-button">Создать запись</button>
  </form>
</div>

