<div class="container">
  <h2 class="headerInTheme">Регистрация</h2>
  <form id="signupForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Введите имя</label>
      <input type="text" class="form-control" name="name" id="username" required title="Латинские буквы, цифры и _">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" id="exampleInputEmail1" required type="email">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Пароль</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
  </form>
</div>
