<div class="container">
  <h2 class="headerInTheme">Вход</h2>
  <form id="signinForm" class="form-group">
    <div class="mb-3">
      <label for="username">Email</label>
      <input id="username" class="form-control" name="email" type="email">
    </div>
    <div class="mb-3">
      <label for="password">Пароль</label>
      <input id="password" class="form-control" name="password" type="password">
    </div>
    <button type="submit" class="btn btn-primary sign-form-button">Войти</button>
  </form>
</div>
